*{
    margin: 0px;
    padding: 0px;
}
form{
    width: 50%;
    margin-left: 10%;
    margin-top: 20px;
    border: solid gray 1px;
    padding: 20px;
    float: left;
}
#naastForm{
    float: left;
    margin-top: 10%;
}